.main-header {
    background-color: lightcoral;
    color: black;
    text-align: center;
}

.header {
    background-color: rgb(197, 164, 240);
    color: black;
    text-align: center;
}

.intro {
    text-align: center;
}